h1, h3 {
    text-align: center;
}

form {
    text-align: center;
}

#todo-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

input [type = checkbox] {
    align-items: flex-start;
}